<app-header></app-header>
<main>
    <ul id="users">
        @for (user of users(); track user.id)
        {
            <li>
                <app-user [user]="user" [isSelected]="selectedUser?.id === user.id" (select)="onSelectUserApp($event)"></app-user>
            </li>
        }       

        <!-- Older Version -->
        <!-- <li *ngFor = "let user of users()">
            <app-user [user]="user" (select)="onSelectUserApp($event)"></app-user>
        </li> -->
    </ul>
    @if (selectedUser)
    {
        <app-tasks [name]="selectedUser.name" [selectedUserID]="selectedUser.id"></app-tasks>
    }
    @else
    {
        <p>Please select a user to see their tasks.</p>
    }    
    <!-- Older Version -->
     <!-- <app-tasks *ngIf="selectedUserID; else fallback" [name]="selectedUser!.name"></app-tasks>
     <ng-template #fallback><p>Please select a user to see their tasks.</p></ng-template> -->
</main> 
